In [1]:
import bs4
import urllib.request as url

In [2]:
path = "https://www.flipkart.com/mi-4a-100-cm-40-inch-full-hd-led-smart-android-tv/product-reviews/itmaaa9224388773?pid=TVSFJRFFJVY3HG5R&lid=LSTTVSFJRFFJVY3HG5RFBHWCP&marketplace=FLIPKART"
response = url.urlopen(path)

In [3]:
source = bs4.BeautifulSoup(response)

In [4]:
reviews = source.find_all('p', class_='_2-N8zT')

In [5]:
len(reviews)

10

In [6]:
ratings = source.find_all('div',class_='_3LWZlK _1BLPMq')

In [7]:
len(ratings)

10

In [9]:
for i in range(len(ratings)):
    print("Review ::",reviews[i].text)
    print("Rating ::",ratings[i].text)

Review :: Terrific purchase
Rating :: 5
Review :: Very Good
Rating :: 4
Review :: Worth every penny
Rating :: 5
Review :: Delightful
Rating :: 4
Review :: Good quality product
Rating :: 4
Review :: Wonderful
Rating :: 5
Review :: Nice product
Rating :: 4
Review :: Awesome
Rating :: 5
Review :: Simply awesome
Rating :: 5
Review :: Highly recommended
Rating :: 5

In [11]:
data = {"reviews" : [], "ratings" : []}

for i in range(1,5):
    print(f"Fetching data from page :: {i}")
    path = f"https://www.flipkart.com/mi-4a-100-cm-40-inch-full-hd-led-smart-android-tv/product-reviews/itmaaa9224388773?pid=TVSFJRFFJVY3HG5R&lid=LSTTVSFJRFFJVY3HG5RFBHWCP&marketplace=FLIPKART&page={i}"
    response = url.urlopen(path)
    source = bs4.BeautifulSoup(response)
    reviews = source.find_all('p', class_='_2-N8zT')
    ratings = source.find_all('div',class_='_3LWZlK _1BLPMq')
    
    for j in range(len(ratings)):
        #print("Review ::",reviews[j].text)
        #print("Rating ::",ratings[j].text)
        data['reviews'].append(reviews[j].text)
        data['ratings'].append(ratings[j].text)
    
    print("*" * 20)

Fetching data from page :: 1
********************
Fetching data from page :: 2
********************
Fetching data from page :: 3
********************
Fetching data from page :: 4
********************

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(data)

In [14]:
df.shape

(38, 2)

In [15]:
df.head()

                reviews ratings
0     Terrific purchase       5
1             Very Good       4
2     Worth every penny       5
3            Delightful       4
4  Good quality product       4

In [16]:
df.tail()

                            reviews ratings
33                Terrific purchase       5
34                       Delightful       4
35           Worst experience ever!       5
36  Not 100% Smart TV from Flipkart       4
37                    Great product       5